stages:
  - deploy

pages:
  stage: deploy
  image: python:3.11
  script:
    - pip install -r requirements.txt
    - ENABLE_PDF_EXPORT=1 mkdocs build --site-dir public
  artifacts:
    paths:
      - public
    expire_in: 30 days
  cache:
    paths:
      - ~/.cache/pip
  only:
    - main
