---
id: TCMS-29
title: Create Test Result Summary from Test Results
status: In Progress
assignee: []
created_date: '2026-04-02 08:15'
updated_date: '2026-04-02 08:15'
labels: []
dependencies:
  - TCMS-8
---

## Description

<!-- SECTION:DESCRIPTION:BEGIN -->
Should contain:
- schema + version
- test_results
  - expected + actual
  - status: pass/fail/not_executed
  - is_manual
- metadata
<!-- SECTION:DESCRIPTION:END -->

## Definition of Done
<!-- DOD:BEGIN -->
- [ ] #1 All tests are passing. Run make test
<!-- DOD:END -->
